.card {
  @apply bg-[var(--box-bg)]
    border-[1px]
    border-solid
    border-[var(--box-border)]
    rounded-[5px];
}
.card-header {
  @apply border-b-[1px]
    border-solid
    border-[var(--box-border)]
    flex
    flex-wrap
    px-4
    py-3
    w-full
    items-center
    justify-between;

  .card-title {
    @apply text-white
        text-sm;
    font-size: 11px;
  }
  &.card-header-trading {
    @apply pt-2
    pb-1
        border-none;
  }
}
.card-header-no-padding {
  @apply !p-0;
}
/* .card-header-divider {
  @apply border-b-[1px]
    border-solid
    border-[var(--box-border)]
    flex
    justify-between
    pr-0
    w-full;
} */
.card-header-button-groups {
  @apply flex 
    justify-start 
    items-center 
    px-3;
}
.card-header-buttons {
  @apply flex 
    items-center 
    gap-4;
}

.tab-panel {
  .form-vertical {
    @apply gap-0;
  }
}
.card-trade {
  @apply mb-2;
}
.card-body-trade {
  @apply pt-1
    gap-2;
  font-size: 11px;
}
/* .card-body-no-scroll {
    @apply
    overflow-visible
} */
.sidebar {
  .card-title {
    @apply uppercase
        text-white;
  }
  .form-label {
    @apply text-white;
    font-size: 11px;
  }
}
.card-header-divider {
  @apply h-[67px]
    w-full
    border-b-1
    border-solid
    border-[var(--box-border)];
  display: flex;
  justify-content: space-between;
  padding: 6px;
  align-items: center;
}

.card-header-left {
  @apply flex
    flex-col
    items-start
    md:flex-row
    md:items-center;
}

.card-header-right {
  &.with-tabs {
    @apply absolute
    right-4
    top-[6px]
    z-[1];
  }
}

.trading-button-group {
  @apply flex
    items-center
    /* gap-3; */;
}
.trading-button-group {
  margin-left: 4px;
  gap: 1px;
  height: 23px;
}
.price-stack-container {
  @apply flex
    flex-wrap
    flex-col
    md:flex-row
    justify-between
    w-full
    border-b-1
    border-solid
    border-[var(--body-bg)];
}
.price-stack {
  @apply flex
    flex-col
    flex-wrap
    justify-center
    items-center
    border-r-1
    border-b-1
    md:border-b-0
    border-solid
    border-[var(--body-bg)]
    min-w-20
    py-2
    px-2
    w-6/12
    sm:w-4/12
    md:w-auto;
}
.price-stack {
  font-size: 11px;
}

.price-stack-label {
  @apply mb-1
    uppercase
    text-[var(--text-primary-color)];
}
.price-stack-label {
  font-size: 11px;
}
.price-stack-value {
  @apply font-semibold
    leading-4;
  font-size: 12px;
}
.price-stack-left {
  @apply flex
    flex-wrap
    w-full
    md:w-auto;
}
/* .price-stack-right {
  .price-stack {
    @apply w-full
        md:w-auto
        last:border-r-0
        last:border-b-0;
  }
} */
.price-badge {
  @apply rounded
    p-1;
}
.page-section-gap {
  @apply flex
    flex-col
    /* flex-wrap */
    gap-2
    mb-[2px]
    md:mb-0;
}
.card-table-tabs-List {
  @apply px-0;
}
.card-tab {
  @apply p-0;
}
.card-tab-label {
  @apply p-3
    uppercase;
  font-size: 12px;
}
.card-tab-panel {
  @apply p-0;
}
.card-cursor {
  @apply w-full
    -bottom-1
    bg-[var(--tab-cursor-card)];
}
.card-tab-divider {
  @apply border-1
    border-solid
    border-[var(--box-border)];
}
.iframe-size {
  @apply min-h-[514px];
}
.section-priority-fee {
  @apply border-t-1
  border-solid
  border-[var(--box-border)]
  pt-2
  mt-2;
}

.card-title-two-column {
  @apply flex
    justify-between
    w-full
    flex-wrap;
}
.select-card-dropdown {
  @apply w-auto
    min-w-52;
}
